/*Reset css*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('./imgs/background_og.jpg');
    background-repeat: repeat;
    background-size: auto;
}


main {
    height: 1000px;
}
/*Landing*/
#landing {
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: 700;
    font-family: "Helvetica", cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#landing img{
    height: 300px;
    width: 300px;
}

/*Barra*/

#barra{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

#barra ul{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin: 0; 
    padding: 0; 
    list-style: none;
}
#barra ul li{
    list-style: none;
    text-decoration: none;
}
